#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navimg {
  width: 100%;
  height: auto;
  position: relative;
}

.navimg:hover {
  opacity: .3;
  transition: all .5s;
}


.navimg::before {
  content: '';
  background: red;
  width: 200px;
  height: 200px;
}

div {
  border: 2px solid green;
}

ul {
  display: grid;
  list-style-type: none;
  margin: none;
  padding: 0;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}

li {
  border: black 2px solid;
  list-style-type: none;
  position: relative;
}

#header-img {
  width: 100%;
  border: red solid 3px;
}

.homemenu {
  width: 100%;
  height: auto;
  border: red solid 2px;
}