div {
  /* border: green 2px solid; */
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  /* padding: 2rem; */
  text-align: center;
  padding-top: 0;
  /* border: yellow 3px dashed; */
  display: grid;
  grid-template-rows: 150px auto 100px;
  grid-template-areas: 
    "header"
    "contentarea"
    "footer";
  justify-content: center;
  box-sizing: border-box;
}


.header {
  display: flex;
  grid-area: header;
  justify-content: center;
  align-items: center;
  /* border: green 2px solid; */
  /* height: 15%; */
  min-height: 150px;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-self: center;
  /* align-self: flex-start; */
  overflow-x: hidden;
  overflow-y: hidden;
}

#header-img {
  min-width: 700px;
  max-width: 900px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  /* border: red solid 3px; */
}

.router {
  /* border: orange solid 3px; */
  grid-area: contentarea;
  /* width: 100%; */
  align-self: stretch;
  padding: 0;
  margin: 0;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homemenu {
  width: 100%;
  height: 100%;
  max-width: 750px;
  /* border: 2px purple dotted; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: red solid 2px; */
  margin: 10px 0;
  padding: 0;
}

.homemenu ul {
  display: grid;
  justify-items: space-evenly;
  align-items: center;
  list-style-type: none;
  width: 100%;
  /* border: green 2px dashed; */
  margin: 0;
  padding: 0;
  column-gap: 5%;
  grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
  text-align: center;
  /* border: 2px purple solid; */
  align-self: stretch;
}

.homemenu li {
  /* border: black 2px solid; */
  padding: 0;
  /* margin-bottom: -5px; */
  /* list-style-type: none; */
  /* text-align: center; */
  /* position: relative; */
  /* align-self: stretch; */
}

/* .navdiv {
  height: 100%;
} */

li[data-isOn="true"] .navdiv {
  position: absolute;
}

.navimg {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative;
  margin: 0;
  padding: 0;
  /* object-fit: contain; */
  /* height: auto; */
  /* position: relative; */
}

.navimg:hover {
  opacity: 0.3;
  transition: all 0.5s;
}

div.navdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
  /* object-fit: contain; */
  /* border: orange 3px solid; */
}
.navdiv::before {
  content: attr(hovertitle);
  position: absolute;
  align-self: flex-end;
  font-size: 35px;
  font-weight: bold;
  opacity: 0;
}

.navdiv:hover::before {
  opacity: 100;
  transition: all 0.5s;
}

.selectednavdiv {
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
  /* margin: 0 auto; */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 5px solid red; */
}

div.bottom-border {
  grid-area: footer;
  /* border: red solid 2px; */
  border-top: black solid 5px;
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
}

div.social-links-div {
  max-width: 750px;
  width: 100%;
  height: 15%;
  min-height: 100px;
  display: grid;
  /* padding-bottom: 50px; */
}

div.social-links-div ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: purple 2px solid; */
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* padding-top: 20px; */
}

div.social-links-div img {
  height: 50px;
}

@media (height > 1080px) {
  .homemenu ul {
    grid-template-columns: 1fr 1fr;
  }
  .navimg {
    width: 20vh;
  }
}