div.footer-container {
  /* grid-area: footer; */
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  border: red 2px solid;
}
div.footer-nav {
  border-top: gray 2px solid;
  border-bottom: black 4px solid;
  width: 100%;
  border: red solid 2px;
}

.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* border: green solid 3px; */
}

div.footer-nav div {
  width: 90px;
  font-size: 20px;
  /* border: 2px black solid; */
  text-decoration: underline;
  color: slategrey;
}

.subscribe-btn {
  font-size: 20px;
  color: white;
  background: #272727;
  border-radius: 0;
  padding: 15px 75px;
  margin: 10px;
}
